* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ee424b;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
